<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse collapse">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img alt="Brand" src="...">
      </a>
      <ul class="nav navbar-nav">
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('auth.login') }}">login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>